.frame {
  max-width: 100%;
}

#profile {
  padding: 12px;
  margin: 40px auto;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  max-width: 60%;
  /* padding: 8px; */
  background-color: #fff;
}

.user-info {
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}

.update-avatar-btn {
  margin-top: 16px;
}

@media screen and (max-width: 992px) {
  #profile {
    max-width: 90%;
  }

  /* .ant-layout.user-info {
    flex-direction: column;
  } */
}

.ant-tabs-content .ant-layout {
  margin-bottom: 16px;
}

.ant-tabs-content .ant-layout-sider {
  padding: 0 32px;
}

@media screen and (max-width: 576px) {
  .ant-tabs-content .ant-layout-has-sider {
    flex-direction: column;
    align-items: center;
  }
  .ant-tabs-content .ant-layout-sider.ant-layout-sider-dark {
    border-right: none;
    min-width: 100% !important;
    max-height: 144px;
  }

  .ant-tabs-content .ant-layout-content {
    min-width: 100%;
  }
}
