/* .profile {
  margin: 3rem auto;
  text-align: center;
} */

#profile {
  padding: 16px;
  margin: 40px auto;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 50%;
  min-height: 400px;
  max-height: 400px;
  /* padding: 8px; */
}

.user-info {
  padding: 8px 0;
}

.update-avatar-btn {
  margin-top: 16px;
}
