.frame {
  max-width: 100%;
}

#profile {
  padding: 12px;
  margin: 40px auto;
  border: 1px solid #d7d7d7;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  max-width: 60%;
  background-color: #fff;
}

.user-info {
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}

.update-avatar-btn {
  margin-top: 16px;
}

@media screen and (max-width: 992px) {
  #profile {
    max-width: 90%;
  }
}

.ant-tabs-content .ant-layout {
  margin-bottom: 16px;
}

.ant-tabs-content .ant-layout-sider {
  padding: 0 32px;
}

@media screen and (max-width: 576px) {
  .ant-tabs-content .ant-layout-has-sider {
    flex-direction: column;
    align-items: center;
  }
  .ant-tabs-content .ant-layout-sider.ant-layout-sider-dark {
    border-right: none;
    min-width: 100% !important;
    /* max-height: 144px; */
  }

  .ant-tabs-content .ant-layout-content {
    min-width: 100%;
  }
}

.ant-input.user-info-label {
  color: #264d59;
  border-radius: 8px;
}

.ant-row.user-list-info {
  padding-left: 16px;
}

.ant-layout-sider.user-avatar model-viewer {
  height: 500px;
}

@media screen and (max-width: 576px) {
  .ant-layout-sider.user-avatar {
    padding-bottom: 16px;
    border-bottom: 2px solid #ccc;
  }

  .ant-layout-content.user-info-content {
    padding-top: 16px;
  }
}

.edit-icon {
  font-size: 24px;
}

.update-info-btn {
  padding-left: 16px;
}

.update-info-btn .ant-btn {
  border-radius: 16px;
}
