.frame {
  width: 1080px;
  height: 800px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 20px;
  font-size: 14px;
  border: none;
}

.warning {
  background-color: #df68a2;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

#pick-avatar {
  margin-top: 16px;
}

.conferences {
  margin: 3rem auto;
  text-align: center;
  padding-bottom: 100px;
}

.conferences__list {
  margin: 16px auto;
  display: flex;
  justify-content: center;
}

.conferences__actions {
  padding: 8px 0;
}

.conference__heading {
  margin-bottom: 48px;
}

.conference__heading {
  /* margin: 20px; */
  font-family: 'Paytone One';
  color: #f1ebe5;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.conference__heading span {
  font-family: 'Paytone One';

  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #e8e5e3;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -4px;
}

/* ... */

.conferences__actions {
  display: flex;
  padding-left: 224px;
  margin-bottom: 32px;
}

.conferences__actions button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
