.signup-form {
  border: 1px solid #ccc;
  padding: 16px;
  max-width: 440px;
  margin: 100px auto;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: #fff;
}

.signup-form-forgot {
  float: right;
}

.ant-col-rtl .signup-form-forgot {
  float: left;
}

.signup-form button {
  width: 100%;
  border-radius: 16px;
}

.signup-form h1 {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .signup-form {
    margin-left: 8px;
    margin-right: 8px;
  }
}
