.margin-left-auto {
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  .navigation {
    font-size: 100% !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
}

.brand {
  letter-spacing: 4px;
}
