@import '~antd/dist/antd.css';

.ant-layout-header,
.ant-layout-sider,
.ant-layout-content,
.ant-layout-footer {
  background: #fff;
  padding: 0;
}

.ant-layout-header {
  border-bottom: 1px solid #d7d7d7;
}

.file-browser {
  margin: 40px auto;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  min-height: 560px;
  /* padding: 8px; */
}

.file-browser__actions {
  display: flex;
  /* align-items: center; */
  padding: 0 8px;
}

.file-browser__upload {
  max-width: 240px;
}

.file-browser__size-info {
  margin-left: auto;
}

.file-browser__header {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #d7d7d7;
}

.file-browser__search {
  margin-left: auto;
  width: 240px;
}

.file-browser__backbutton {
  margin-right: 16px;
}

.resource {
  border: 0;
  text-align: center;
  /* overflow: hidden; */
}

.resource:hover {
  cursor: pointer;
  transform: scale(105%);
  background: #f4f4f4;
}

.resource__icon {
  font-size: 32px;
}

.resource__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 12px;
}

.file-browser__content {
  padding: 8px;
  min-height: 400px;
}

.file-browser__spinner {
  text-align: center;
  font-size: 200%;
}

.disable-text-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.file-info-icon {
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.file-info-modal {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.file-info-modal td {
  padding: 0 4px;
}
/* 
.file-info-modal__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

/* Directory Tree */
.directory-tree {
  overflow-x: auto;
}
