.resources {
  border: 1px solid #d7d7d7;
  padding: 16px;
  max-width: 800px;
  margin: auto;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

/* TODO: fix this with login form */
.resource {
  border: 0;
  text-align: center;
}

.resource:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: #f0f0f0;
}

.resource__icon {
  font-size: 30px;
}

.resource__name {
  font-size: 12px;
}

.resources__header {
  padding: 8px;
  margin-bottom: 8px;
  /* border: 1px solid red; */
  display: flex;
}

.resources__path {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.resources__search-bar {
  margin-left: auto;
}

.resources__spinner {
  margin-top: 120px;
  text-align: center;
}
