.login-form {
  border: 1px solid #ccc;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 300px;
  margin: 100px auto;
}

.login-form__forgot {
  float: right;
}

.ant-col-rtl .login-form__forgot {
  float: left;
}

.login-form__button {
  width: 100%;
}

.spinner {
  margin: auto auto;
}

.lock-circle {
  display: block;
  color: red;
  font-size: 32px;
}
